/* Importação da fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #159ade;
  --secondary-color: #127fb6;
  --terciary-color: #1f3d4f;
  --accent-color: #39b54a;
  --background-color: #f0f2f5;
  --text-color: #333333;
  --light-text-color: #777777;
  --border-radius: 10px;
}

p {
  margin: 0 0 15px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  margin: 0 0 15px;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
}

section {
  margin-bottom: 60px;
}
/* Estilos Globais e do Container Principal */
body {
  background-color: var(--background-color);
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.genesis-container {
  max-width: 1000px;
  width: 95%; /* Um pouco de margem nas laterais */
  margin: 0 auto;
  background-color: var(--background-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden; /* Garante que os filhos com margem negativa não transbordem */
}

.link-to  {
  color: #159ade;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}