/*
======================================= 
Pricing Section 
=======================================
*/
.pricing-section {
  padding: 40px;
  background-color: var(--primary-color);
}

@media (max-width: 480px) {
  .pricing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }     
}

.pricing-section h3 {
    color: var(--background-color);
}

@media (max-width: 480px) {
  .pricing-section h3 {
    padding: 8px;
  }     
}

.pricing-benefits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 30px 0 40px;
}

.pricing-inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 900px) {
  .pricing-inner-container {
    flex-direction: column;
    gap: 30px;
  }
}

.benefit-item {
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}

@media (max-width: 480px) {
    .benefit-item {
        border-radius: 0px;
    }
}

.benefit-item h3 {
  color: #ffffff;
  text-align: right;
}

.benefit-item p {
  color: #ffffff;
  font-size: 16px;
  text-align: right;
}

@media (max-width: 768px) {
    .benefit-item:nth-child(odd) {
        background-color: var(--secondary-color);
    }

    .benefit-item:nth-child(even) p {
        text-align: right;
    }

    .benefit-item:nth-child(odd) p {
        text-align: left;
    }

    .benefit-item:nth-child(even) h3 {
        text-align: right;
    }

    .benefit-item:nth-child(odd) h3 {
        text-align: left;
    }
}

.pricing-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
  color: #000000;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(21, 154, 222, 0.3);
  height: 400px;
  width: 400px;
  flex-shrink: 0;
}

@media (max-width: 480px) {
  .pricing-card {
    width: 100%;
    border-radius: 0;
    padding: 30px;
    height: auto;
    margin-bottom: 1rem;
  }
}

.pricing-intro {
  font-size: 1.3rem;
  margin-bottom: 25px;
}

.highlight {
  font-weight: 700;
  text-decoration: underline;
}

.price-container {
  margin: 25px 0;
}

.old-price {
  text-decoration: line-through;
  opacity: 0.8;
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.new-price {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.payment-info {
  font-size: 1rem;
  opacity: 0.9;
}